* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: pink;
}

#hlj {
  height: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hlj .hlj-header {
  width: 100%;
  height: 1.44rem;
  background-color: #fff;
}

#hlj .hlj-header .header-left {
  float: left;
  width: 9.066667rem;
  height: 1.44rem;
}

#hlj .hlj-header .header-left .logo {
  width: 2.506667rem;
  height: .88rem;
  background: url(../images/logo.png);
  background-size: 100% 100%;
  margin: .266667rem 0rem 0rem .426667rem;
  float: left;
}

#hlj .hlj-header .header-left .place {
  font-size: .293333rem;
  color: #000;
  display: block;
  float: left;
  margin: .533333rem 0rem 0rem .266667rem;
}

#hlj .hlj-header .lb {
  width: .533333rem;
  height: .453333rem;
  background: url(../images/o_1ckeu2uusfl01sst1lg0gjs1aul3g.png);
  background-size: 100% 100%;
  float: right;
  margin: .533333rem .373333rem 0rem 0rem;
}

#hlj .hlj-main {
  flex: 1;
  width: 100%;
  background-color: aquamarine;
}

#hlj .hlj-main .banner {
  width: 9.173333rem;
  height: 3.68rem;
  background: url(../images/banner.jpg);
  margin: 0rem .426667rem;
  background-size: 100% 100%;
  border-radius: .266667rem .266667rem 4.8rem 4.8rem/ .333333rem .333333rem .426667rem .426667rem;
}

#hlj .hlj-main .main1 {
  width: 100%;
  height: 3.333333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: .466667rem;
}

#hlj .hlj-main .main1 .m1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#hlj .hlj-main .main1 .m1 .main1-box {
  width: 1.28rem;
  height: 1.4rem;
  text-align: center;
}

#hlj .hlj-main .main1 .m1 .main1-box img {
  width: .666667rem;
  height: .706667rem;
  background-size: 100% 100%;
  display: block;
  margin-left: .306667rem;
}

#hlj .hlj-main .main1 .m1 .main1-box span {
  font-size: .293333rem;
  color: #333;
  margin-top: .186667rem;
  display: block;
}

#hlj .hlj-main .main2 {
  width: 9.2rem;
  height: 4.466667rem;
  margin-left: .426667rem;
  margin-top: .8rem;
}

#hlj .hlj-main .main2 .main2-left {
  width: 4.48rem;
  height: 4.466667rem;
  background-size: contain;
  background-image: url(../images/o_1cliarnre1kk49dc1sa3kiqe4g9.png);
  border-radius: 30px;
  float: left;
}

#hlj .hlj-main .main2 .main2-right {
  width: 4.533333rem;
  height: 4.466667rem;
  float: left;
  margin-left: .106667rem;
}

#hlj .hlj-main .main2 .main2-right .r1 {
  width: 4.533333rem;
  height: 2.133333rem;
  border-radius: .346667rem;
  margin-bottom: .16rem;
  background-size: contain;
  background-image: url(../images/o_1cliau3cmq3ca6q1kvf16hvdvc9.png);
}

#hlj .hlj-main .main2 .main2-right .r2 {
  width: 4.533333rem;
  height: 2.133333rem;
  border-radius: .346667rem;
  background-size: contain;
  background-image: url(../images/o_1d21g6g94cug1q4a1lr3ne19q19.jpg);
}

#hlj .hlj-main .main3 {
  width: 100%;
  height: 6.093333rem;
  margin-top: .933333rem;
  margin-bottom: .933333rem;
}

#hlj .hlj-main .main3 .main3-title {
  float: left;
  font-size: .533333rem;
  color: #000;
  font-weight: bold;
  margin-left: .426667rem;
}

#hlj .hlj-main .main3 .more a {
  display: block;
  float: right;
  font-size: .333333rem;
  color: #d3d3d3;
  margin-right: .426667rem;
  margin-bottom: .453333rem;
}

#hlj .hlj-main .main3 .main3-box {
  width: 10rem;
  height: 5.5rem;
  overflow: auto;
  display: flex;
  margin-left: .4rem;
}

#hlj .hlj-main .main3 .main3-box .main3-sb {
  margin: 0rem .226667rem;
  flex-basis: 3.76rem;
  flex-shrink: 0;
  height: 4.76rem;
  border-radius: .4rem;
  background-color: #fff;
  box-shadow: .04rem 0rem .04rem #f7f7f7, 0rem .04rem .04rem #f7f7f7, -.04rem 0rem .04rem #f7f7f7, 0rem -.04rem .04rem #f7f7f7;
}

#hlj .hlj-main .main3 .main3-box .main3-sb .sb1 {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  margin: .533333rem 1.066667rem;
  background-size: contain;
  background-image: url(../images/0AB572F01743D6338C69C703F089E458.jpg);
}

#hlj .hlj-main .main3 .main3-box .main3-sb .sb2 {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  margin: .533333rem 1.066667rem;
  background-size: contain;
  background-image: url(../images/67047B33B9029AD05CF318B07195A7E9.jpg);
}

#hlj .hlj-main .main3 .main3-box .main3-sb .sb3 {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  margin: .533333rem 1.066667rem;
  background-size: contain;
  background-image: url(../images/o_1avo9jks8gcp1gmb16n01nfer02n.jpg);
}

#hlj .hlj-main .main3 .main3-box .main3-sb .sb4 {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  margin: .533333rem 1.066667rem;
  background-size: contain;
  background-image: url(../images/A5AB100EF356F322A8E0166E256DDC92.jpg);
}

#hlj .hlj-main .main3 .main3-box .main3-sb .sb-title {
  font-size: .346667rem;
  color: #000;
  font-weight: bold;
  text-align: center;
}

#hlj .hlj-main .main3 .main3-box .main3-sb p {
  font-size: .266667rem;
  color: #6a6a6a;
  text-align: center;
}

#hlj .hlj-main .main4 {
  width: 100%;
  height: 5.333333rem;
  overflow: hidden;
}

#hlj .hlj-main .main4 .main4-title {
  float: left;
  font-size: .533333rem;
  color: #000;
  font-weight: bold;
  margin-left: .426667rem;
}

#hlj .hlj-main .main4 .m4-box {
  width: 9.146667rem;
  height: 2.533333rem;
  margin-top: 1.066667rem;
  margin-left: .4rem;
  background-image: url(../images/o_1ckcalj6313oe19g51gbl104cbre1k.png);
  background-size: contain;
  border-radius: .346667rem;
  position: relative;
}

#hlj .hlj-main .main4 .m4-box .m4-sb {
  width: 8.106667rem;
  height: 3.6rem;
  background-color: #fff;
  border-radius: .333333rem;
  position: absolute;
  top: .506667rem;
  left: .533333rem;
  box-shadow: -0.066667rem 0rem 3rem #f7f7f7;
}

#hlj .hlj-main .main4 .m4-box .m4-sb ul {
  width: 100%;
  height: 3.6rem;
  display: flex;
  justify-content: space-around;
}

#hlj .hlj-main .main4 .m4-box .m4-sb ul div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#hlj .hlj-main .main4 .m4-box .m4-sb ul div li a {
  width: 1.026667rem;
  height: .36rem;
  display: block;
  font-size: .36rem;
  color: #000;
}

#hlj .hlj-main .main5 {
  width: 100%;
  height: 3.28rem;
  margin-top: .933333rem;
  overflow: hidden;
}

#hlj .hlj-main .main5 .main5-title {
  float: left;
  font-size: .533333rem;
  color: #000;
  font-weight: bold;
  margin-left: .426667rem;
  display: block;
  margin-bottom: .466667rem;
}

#hlj .hlj-main .main5 .m5-box {
  width: 10rem;
  height: 2.133333rem;
  margin-bottom: .986667rem;
  overflow: auto;
  display: flex;
}

#hlj .hlj-main .main5 .m5-box .m5-sb {
  flex-basis: 3.066667rem;
  height: 1.866667rem;
  flex-shrink: 0;
  border-radius: .266667rem;
  background-color: #fff;
  margin-left: .24rem;
  position: relative;
  box-shadow: .04rem 0rem .04rem #f7f7f7, 0rem .04rem .04rem #f7f7f7, -.04rem 0rem .04rem #f7f7f7, 0rem -.04rem .04rem #f7f7f7;
}

#hlj .hlj-main .main5 .m5-box .m5-sb .m5-sb1 {
  position: absolute;
  top: .4rem;
  left: .4rem;
  font-size: .4rem;
  color: #000;
  font-weight: bold;
}

#hlj .hlj-main .main5 .m5-box .m5-sb .m5-sb2 {
  position: absolute;
  top: 1.066667rem;
  left: .4rem;
  font-size: .293333rem;
  color: #666;
}

#hlj .hlj-main .main5 .m5-box .m5-sb img {
  width: .586667rem;
  height: .586667rem;
  position: absolute;
  top: 1.066667rem;
  right: .333333rem;
}

#hlj .hlj-main .main6 {
  width: 100%;
  height: 6.506667rem;
  margin-top: .933333rem;
  margin-bottom: .933333rem;
  overflow: hidden;
}

#hlj .hlj-main .main6 .main6-title {
  float: left;
  font-size: .533333rem;
  color: #000;
  font-weight: bold;
  margin-left: .426667rem;
  display: block;
}

#hlj .hlj-main .main6 .more a {
  display: block;
  float: right;
  font-size: .333333rem;
  color: #d3d3d3;
  margin-right: .426667rem;
  margin-bottom: .453333rem;
}

#hlj .hlj-main .main6 .m6-box {
  width: 9.2rem;
  height: 5.4rem;
  margin-top: 1.013333rem;
  margin-left: .4rem;
}

#hlj .hlj-main .main6 .m6-box .m6-left {
  width: 4.586667rem;
  height: 5.4rem;
  float: left;
}

#hlj .hlj-main .main6 .m6-box .m6-left .m6-left1 {
  width: 4.586667rem;
  height: 2.626667rem;
  background-size: contain;
  border-radius: .4rem 0rem 0rem 0rem /.4rem 0rem 0rem 0rem;
  background-image: url(../images/o_1ckc6chiqe4s1rejj8c8311rsb17.png);
}

#hlj .hlj-main .main6 .m6-box .m6-left .m6-left2 {
  width: 4.586667rem;
  height: 2.626667rem;
  background-size: contain;
  border-radius: 0rem 0rem 0rem .4rem / 0rem 0rem 0rem .4rem;
  background-image: url(../images/o_1ckc6chiq1rj105q7t83a41v0m19.png);
}

#hlj .hlj-main .main6 .m6-box .m6-right {
  width: 4.599667rem;
  height: 5.255rem;
  float: left;
  background-size: contain;
  border-radius: 0rem .4rem .4rem 0rem / 0rem .4rem .4rem 0rem;
  background-image: url(../images/o_1ckc6chiq17ejjir16lsinv1mpa18.png);
}

#hlj .hlj-main .main7 {
  width: 100%;
  height: 9.333333rem;
  margin-top: .933333rem;
  margin-bottom: .933333rem;
  overflow: hidden;
}

#hlj .hlj-main .main7 .main7-title {
  float: left;
  font-size: .533333rem;
  color: #000;
  font-weight: bold;
  margin-left: .426667rem;
  display: block;
}

#hlj .hlj-main .main7 .more a {
  display: block;
  float: right;
  font-size: .333333rem;
  color: #d3d3d3;
  margin-right: .426667rem;
  margin-bottom: .453333rem;
}

#hlj .hlj-main .main7 .m7-box1 {
  width: 9.173333rem;
  height: 4.573333rem;
  position: relative;
  margin-top: 1.146667rem;
  margin-left: .4rem;
}

#hlj .hlj-main .main7 .m7-box1 .m7-sb1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 5.92rem;
  height: 4.053333rem;
  border-radius: .333333rem;
  background-size: contain;
  background-image: url(../images/o_1clb6afdfhg2bi3kut1419156fa.jpg);
}

#hlj .hlj-main .main7 .m7-box1 .m7-sb2 {
  position: absolute;
  top: .466667rem;
  left: .506667rem;
  width: 8.56rem;
  height: 3.933333rem;
  border-radius: .333333rem;
  background-color: #fff;
  box-shadow: .04rem 0rem 0.4rem #fbfbfb inset, -0.4rem 0rem 0.4rem 0rem #fbfbfb inset, 0rem 0.4rem 0.4rem 0rem #fbfbfb inset, 0rem -0.4rem 0.4rem 0rem #fbfbfb inset;
}

#hlj .hlj-main .main7 .m7-box1 .m7-sb3 {
  font-size: .44rem;
  color: #000;
  display: block;
  position: absolute;
  top: 1.626667rem;
  right: .506667rem;
}

#hlj .hlj-main .main7 .m7-box1 .m7-sb4 {
  width: .746667rem;
  height: .746667rem;
  background-image: url(../images/o_1ckekgklp1sqr1pimn4uocm1r37d.png);
  position: absolute;
  background-size: contain;
  top: 2.693333rem;
  right: 2.106667rem;
}

#hlj .hlj-main .main7 .m7-box2 {
  width: 9.173333rem;
  height: 3.253333rem;
  margin-top: .266667rem;
  margin-left: .426667rem;
  display: flex;
  justify-content: space-between;
}

#hlj .hlj-main .main7 .m7-box2 .m7-bb {
  width: 2.933333rem;
  height: 3.2rem;
  border-radius: .4rem;
  background-color: #fff;
  box-shadow: .04rem 0rem 0.4rem #fbfbfb inset, -0.4rem 0rem 0.4rem 0rem #fbfbfb inset, 0rem 0.4rem 0.4rem 0rem #fbfbfb inset, 0rem -0.4rem 0.4rem 0rem #fbfbfb inset;
}

#hlj .hlj-main .main7 .m7-box2 .m7-bb img {
  width: 2.933333rem;
  border-radius: .4rem .4rem 0rem 0rem /.4rem .4rem 0rem 0rem;
  height: 2.16rem;
}

#hlj .hlj-main .main7 .m7-box2 .m7-bb a {
  font-size: .266667rem;
  color: #323232;
  text-align: center;
  display: block;
  height: 1.066667rem;
  line-height: 1.066667rem;
}

#hlj .hlj-main .main8 {
  width: 100%;
  height: 20.6rem;
  margin-top: .933333rem;
  margin-bottom: .933333rem;
  overflow: hidden;
}

#hlj .hlj-main .main8 .main8-title {
  float: left;
  font-size: .533333rem;
  color: #000;
  font-weight: bold;
  margin-left: .426667rem;
  display: block;
}

#hlj .hlj-main .main8 .more a {
  display: block;
  float: right;
  font-size: .333333rem;
  color: #d3d3d3;
  margin-right: .426667rem;
  margin-bottom: .453333rem;
}

#hlj .hlj-main .main8 .m8-box {
  width: 100%;
  height: 18.213333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hlj .hlj-main .main8 .m8-box .m8-sb {
  width: 9.173333rem;
  height: 3.226667rem;
  background-color: #fff;
  border-radius: .4rem;
  margin-left: .466667rem;
  position: relative;
}

#hlj .hlj-main .main8 .m8-box .m8-sb .img1 {
  width: 3.346667rem;
  height: 3.226667rem;
  position: absolute;
  border-radius: .4rem;
  top: 0rem;
  left: 0rem;
}

#hlj .hlj-main .main8 .m8-box .m8-sb .img2 {
  width: .96rem;
  height: 3.8rem;
  background-size: cover;
  position: absolute;
  top: -0.2rem;
  left: 2.406667rem;
}

#hlj .hlj-main .main8 .m8-box .m8-sb .jh {
  font-size: .4rem;
  color: #000;
  font-weight: bold;
  display: block;
  width: 4.48rem;
  white-space: pre-wrap;
  line-height: .6rem;
  height: 1.2rem;
  position: absolute;
  top: .513333rem;
  right: .8rem;
}

#hlj .hlj-main .main8 .m8-box .m8-sb .sj {
  font-size: .213333rem;
  color: #6d6d6d;
  position: absolute;
  top: 2.333333rem;
  left: 3.9rem;
  white-space: pre-wrap;
}

#hlj .hlj-main .main8 .m8-box .m8-sb .lj {
  width: .746667rem;
  height: .746667rem;
  position: absolute;
  top: 2.08rem;
  right: .506667rem;
  background-size: contain;
  background-image: url(../images/o_1ckekgklp1sqr1pimn4uocm1r37d.png);
}

#hlj .hlj-footer {
  width: 10rem;
  height: 3.84rem;
  background-color: #f2f3f7;
  position: relative;
}

#hlj .hlj-footer .fa1 {
  width: 2.706667rem;
  height: .773333rem;
  color: #fff;
  background-color: #f83144;
  border-radius: .333333rem;
  text-align: center;
  line-height: .773333rem;
  font-size: .346667rem;
  position: absolute;
  top: .773333rem;
  left: 2.066667rem;
}

#hlj .hlj-footer .fa2 {
  width: 2.706667rem;
  height: .773333rem;
  color: #f83144;
  background-color: #fff;
  border-radius: .333333rem;
  text-align: center;
  line-height: .773333rem;
  font-size: .346667rem;
  position: absolute;
  top: .773333rem;
  right: 2.066667rem;
}

#hlj .hlj-footer .kf {
  width: 6.866667rem;
  height: .6rem;
  font-size: .293333rem;
  color: #979799;
  line-height: .6rem;
  text-align: center;
  position: absolute;
  top: 2.066667rem;
  left: 1.6rem;
}

#hlj .hlj-footer .kf1 {
  width: 6.866667rem;
  height: .6rem;
  font-size: .293333rem;
  color: #979799;
  line-height: .6rem;
  text-align: center;
  position: absolute;
  top: 2.666667rem;
  left: 1.6rem;
}
