* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#ky {
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
}

#ky .content1 {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

#ky .content2 {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

#ky .ky-header {
  width: 100%;
  height: 222px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ky .ky-header img {
  width: 60px;
  height: 68px;
}

#ky .ky-nav {
  width: 100%;
  background-color: #fff;
  border-bottom: 2px solid #e1e1e1;
  display: flex;
  justify-content: center;
}

#ky .ky-nav ul {
  list-style: none;
  width: 420px;
  display: flex;
  justify-content: space-between;
}

#ky .ky-nav ul .iii {
  display: none;
}

#ky .ky-nav ul li {
  width: 70px;
  text-align: center;
}

#ky .ky-nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: #505050;
  line-height: 56px;
  height: 56px;
}

#ky .ky-nav ul li a:hover {
  color: #e67e22;
}

#ky .ky-main {
  width: 100%;
  flex: 1;
  background-color: #ebebeb;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-around;
}

#ky .ky-main .m-left {
  width: 750px;
  height: 100%;
  margin-top: 35px;
  margin-right: 30px;
}

#ky .ky-main .m-left .title1 {
  font-size: 32px;
  color: #000;
  padding-top: 40px;
  margin-left: 92px;
  white-space: pre-line;
  text-align: center;
}

#ky .ky-main .m-left .zz {
  font-size: 12px;
  color: #959595;
  padding-top: 20px;
  padding-bottom: 36px;
  text-align: center;
}

#ky .ky-main .m-left .zp {
  font-size: 18px;
  color: #444443;
  line-height: 30px;
  text-align: left;
  margin-left: 34px;
  white-space: pre-line;
}

#ky .ky-main .m-left .yy {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 86px;
  height: 36px;
  text-align: center;
  background-color: #e67e22;
  margin-left: 34px;
  margin-top: 36px;
  line-height: 36px;
  border-radius: 2px;
}

#ky .ky-main .m-left .yy:hover {
  background-color: #505050;
}

#ky .ky-main .m-left .hh {
  width: 680px;
  height: 0px;
  border-bottom: 1px solid #ebebeb;
  margin-top: 30px;
  margin-left: 34px;
}

#ky .ky-main .m-left .zz span {
  color: #e67e22;
  margin-right: 10px;
}

#ky .ky-main .m-left .mm {
  width: 680px;
  height: 304px;
  background-size: contain;
  margin-left: 34px;
  margin-bottom: 36px;
}

#ky .ky-main .m-left .mm .img1 {
  width: 100%;
  height: 100%;
}

#ky .ky-main .m-left .box1 {
  width: 100%;
  height: 407px;
  background-color: #fff;
  margin-bottom: 35px;
}

#ky .ky-main .m-left .box2 {
  width: 100%;
  height: 777px;
  background-color: #fff;
  margin-bottom: 35px;
}

#ky .ky-main .m-left .box3 {
  width: 100%;
  height: 442px;
  background-color: #fff;
  margin-bottom: 35px;
}

#ky .ky-main .m-left .box4 {
  width: 100%;
  height: 867px;
  background-color: #fff;
  margin-bottom: 35px;
}

#ky .ky-main .m-left .ym {
  margin-top: 35px;
  margin-left: 292px;
}

#ky .ky-main .m-left .ym span {
  display: block;
  width: 126px;
  height: 36px;
  background-color: #e67e22;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 36px;
  margin-right: 7px;
  float: left;
}

#ky .ky-main .m-left .ym a {
  text-decoration: none;
  width: 36px;
  height: 36px;
  display: block;
  background-color: #e67e22;
  color: #fff;
  float: left;
  text-align: center;
  line-height: 36px;
}

#ky .ky-main .m-right {
  width: 360px;
  margin-top: 35px;
}

#ky .ky-main .m-right .rtitle {
  font-size: 19px;
  color: #303030;
  padding-top: 23px;
  padding-left: 30px;
  padding-bottom: 9px;
}

#ky .ky-main .m-right .x {
  padding-left: 30px;
}

#ky .ky-main .m-right .x .x1 {
  width: 90px;
  height: 0px;
  border-bottom: 1px solid #e67e22;
  float: left;
}

#ky .ky-main .m-right .x .x2 {
  width: 210px;
  height: 0px;
  border-bottom: 1px solid #ebebeb;
  float: left;
}

#ky .ky-main .m-right .rbox1 {
  height: 198px;
  background-color: #fff;
  margin-bottom: 35px;
}

#ky .ky-main .m-right .rbox1 .qq {
  font-size: 12px;
  color: #505050;
  margin-left: 30px;
  margin-top: 27px;
}

#ky .ky-main .m-right .rbox1 a {
  display: block;
  text-decoration: none;
  color: #e67e22;
  font-size: 12px;
  line-height: 12px;
  margin-left: 30px;
  margin-top: 27px;
}

#ky .ky-main .m-right .rbox2 {
  width: 100%;
  height: 130px;
  background-color: #fff;
  margin-bottom: 35px;
}

#ky .ky-main .m-right .rbox2 a {
  display: block;
  width: 300px;
  height: 36px;
  background-color: #e67e22;
  color: #fff;
  text-decoration: none;
  line-height: 36px;
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
}

#ky .ky-main .m-right .rbox2 a:hover {
  background-color: #505050;
}

#ky .ky-main .m-right .rbox3 {
  width: 100%;
  height: 298px;
  background-color: #fff;
}

#ky .ky-main .m-right .rbox3 ul {
  list-style: none;
  margin-top: 14px;
  margin-left: 30px;
  margin-right: 37px;
}

#ky .ky-main .m-right .rbox3 ul li {
  padding: 3px 6px 3px 6px;
  float: left;
}

#ky .ky-main .m-right .rbox3 ul li a {
  display: block;
  text-decoration: none;
  color: #959595;
  border: 1px solid #ebebeb;
  font-size: 12px;
  padding: 6px 7px;
}

#ky .ky-main .m-right .rbox3 ul li a:hover {
  color: #fff;
  background-color: #e67e22;
  border: 1px solid #e67e22;
}

#ky .ky-footer {
  width: 100%;
  border-bottom: 1px solid #303030;
  background-color: #202020;
}

#ky .ky-footer .fz {
  font-size: 20px;
  color: #fff;
}

#ky .ky-footer .x {
  margin-top: 9px;
}

#ky .ky-footer .x .x1 {
  width: 90px;
  height: 0px;
  border-bottom: 1px solid #e67e22;
  float: left;
}

#ky .ky-footer .x .x2 {
  width: 210px;
  height: 0px;
  border-bottom: 1px solid #2e2e2e;
  float: left;
}

#ky .ky-footer .footer-left {
  width: 300px;
  margin-top: 35px;
  float: left;
}

#ky .ky-footer .footer-left .fbox {
  display: block;
  text-decoration: none;
  width: 300px;
  height: 102px;
  border-bottom: 1px dashed #2e2e2e;
}

#ky .ky-footer .footer-left .fbox .fsp1 {
  font-size: 13px;
  color: #959595;
  padding-top: 29px;
  margin-bottom: 10px;
  display: block;
}

#ky .ky-footer .footer-left .fbox .fsp2 {
  font-size: 12px;
  color: #505050;
  display: block;
}

#ky .ky-footer .footer-left .fbox:hover {
  background-color: #e67e22;
  color: #fff;
}

#ky .ky-footer .footer-center {
  width: 300px;
  margin-top: 35px;
  float: left;
}

#ky .ky-footer .footer-center ul {
  list-style: none;
  margin-top: 20px;
}

#ky .ky-footer .footer-center ul li {
  padding: 3px 6px 3px 6px;
  float: left;
}

#ky .ky-footer .footer-center ul li a {
  display: block;
  text-decoration: none;
  color: #959595;
  border: 1px solid #303030;
  font-size: 12px;
  padding: 6px 7px;
}

#ky .ky-footer .footer-center ul li a:hover {
  color: #fff;
  background-color: #e67e22;
  border: 1px solid #e67e22;
}

#ky .ky-footer .footer-right {
  width: 300px;
  margin-top: 35px;
  float: left;
}

#ky .ky-footer .footer-right .fr1 {
  width: 300px;
  height: 99px;
  border-bottom: 1px dashed #2e2e2e;
}

#ky .ky-footer .footer-right .fr1 a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #959595;
  height: 14px;
  line-height: 14px;
  padding: 15px 5px 15px 5px;
  float: left;
}

#ky .ky-footer .footer-right .fr1 a:hover {
  background-color: #e67e22;
  color: #fff;
}

#ky .ky-footer .footer-right .fr2 {
  width: 300px;
  height: 60px;
  border-bottom: 1px dashed #2e2e2e;
}

#ky .ky-footer .footer-right .fr2 a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #959595;
  padding: 15px 5px 15px 5px;
  float: left;
}

#ky .ky-footer .footer-right .fr2 a:hover {
  background-color: #e67e22;
  color: #fff;
}

#ky .ky-f2 {
  width: 100%;
  height: 81px;
  background-color: #111111;
  display: flex;
  justify-content: center;
}

#ky .ky-f2 ul {
  list-style: none;
  width: 498px;
  display: flex;
  height: 12px;
  justify-content: space-between;
  margin-top: 34px;
}

#ky .ky-f2 ul li {
  padding: 0px 13px;
  color: #555555;
  font-size: 12px;
}
